.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .product-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 10px;
  }
  
  .product-info {
    flex-grow: 1;
  }
  
  .product-info h3 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .product-info p {
    margin: 0;
  }
  
  /* Add this rule to make the product images smaller */
  .cart-item .product-image {
    width: 60px;
    height: 60px;
  }