.cart-icon {
    position: relative;
    cursor: pointer;
  }
  
  .cart-icon i {
    margin-right: 5px;
  }
  
  .cart-name {
    margin-right: 10px;
  }
  
  .item-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 50%;
  }