.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #eee;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  .cart-container {
    display: flex;
    align-items: center;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9; 
    padding: 10px;
  }
  
  .title {
    margin: 0;
  }
  
  .nav {
    display: flex;
    align-items: center;
  }
  
  .nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 10px;
  }
  
  .nav-link {
    color: #333;
    text-decoration: none;
  }
  
  .cart-container {
    position: relative;
  }
  
  /* Add this rule to set the background color of the cart */
  .cart {
    position: absolute;
    top: 40px;
    right: 0;
    width: 300px;
    background-color: #f5e9e9;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    padding: 10px;
    display: none;
  }
  
  .cart.show {
    display: block;
  }