body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-color: #e5e5e5;
  padding: 10px;
  background-color: #fff;
}

.product-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-item h3 {
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
}

.product-item p {
  margin: 0;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}

.cart {
  border: 1px solid #ccc;
  padding: 10px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.product-item:hover {
  background-color: #b3d9ff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.product-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  background-color: #f5f5f5;
}

.add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffc107;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: #ffdb58;
}

.add-to-cart-button i {
  margin-right: 5px;
}