body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
}

.product img {
  max-width: 100%;
}

.product h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.product p {
  font-weight: bold;
}

.product button {
  margin-top: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.product button:hover {
  opacity: 0.8;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
}

.cart h2 {
  margin-top: 0;
}

.cart p {
  font-weight: bold;
}

.cart button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.cart button:hover {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {

  .product {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .product img {
    max-width: 300px;
    margin-right: 20px;
  }

  .cart {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

}